@import "tailwindcss";

@layer base {
  :root {
    color-scheme: light;
  }

  :root.dark {
    color-scheme: dark;
  }

  body {
    @apply antialiased bg-white text-gray-800 transition-colors duration-300;
  }

  .dark body {
    @apply bg-slate-950 text-gray-200;
  }
}
